#home {
    height: 320px;
    padding: 16px 20px;
}

#home::before {
    height: 380px;
}

#home h1 {
    font-size: 2rem;
}

#home p {
    font-size: 10px;
}

#services {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

#services .box img {
    height: 100px;
}

#clients {
    flex-wrap: wrap;
}


/* #clients {
    width: 20px;
    padding: 2px 56px;
    overflow: hidden;
} */

#clients img {
    height: 60px;
}

.h-primary {
    font-size: 20px;
}

.h-secondary {
    font-size: 20px;
}

.btn {
    font-size: 10px;
    padding: 4px 8px;
}